body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

legend{
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
}

table{
    margin: 0px auto;
    width: 70%;
    padding: 10px;
}

table span{
    font-size: small;
}

fieldset{
    text-align: center;
    width: 50%;
    margin: 0px auto;
    border-radius: 10px;
}

input[type="button"]{
    font-family: Arial;
    background-color: blue;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-weight: bold;
}