<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <h1>Todo List</h1>
    <form ng-form="add()">

    </form>
    <input type="text" name="todo" id="todo" ng-model="todo">
    <button ng-click="addTodo()">Enter</button>

    <div ng-repeat="l in listal">
        <p>{{l}}</p><br>
    </div>
    <script>
        angular.module('myApp', []).controller('myCtrl', function($scope){
            $scope.listal = []

            $scope.addTodo = function(){
                $cope.listal.push($scope.todo);
            }
        })
    </script>
</body>
</html>